{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'user:dashboard' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
<ul>
    <div class="row mb-5">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Minha Conta</h5>
                    <ul>
                       <li><a href="{% url 'user:edit' %}">Editar Conta</a></li>
                       <li><a href="{% url 'user:edit_password' %}">Editar Senha</a></li>
                    </ul>
                    <p></p>
                    <h5 class="card-title">Meus Cursos</h5>
                    <ul>
                        <li><a href="#">Curso 1</a></li>
                        <li><a href="#">Curso 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <div class="row mb-5">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                         {% block dashboard_content %}
                        <p><strong>Usuário</strong>: {{ user }}</p>
                        <p><strong>E-mail</strong>: {{ user.email }}</p>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>
{% endblock %}