{% extends "base.html" %}
{% load staticfiles %}
{% load courses_tags %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            {% block breadcrumb %}
                <li>
                    <a href="{% url 'user:dashboard' %}">Meu Painel</a>
                </li>
            {% endblock %}
        </ul>
    </div>
<ul>
    <div class="row mb-5">
        <div class="col-auto">
            <div class="card">
                <div class="card-body">
                    {% load_meus_cursos user as inscricao %}
                    <h5 class="card-title">Meus Cursos</h5>
                    <ul>
                        {% for curso in inscricao %}
                        <li>
                            <a href="">{{ curso.curso }}</a>
                        </li>
                        {% empty %}
                        <li>Nenhum curso no momento</li>
                        {% endfor %}
                    </ul>
                    <p></p>
                    <h5 class="card-title">Minha Conta</h5>
                    <ul>
                       <li><a href="{% url 'user:edit' %}">Editar Conta</a></li>
                       <li><a href="{% url 'user:edit_password' %}">Editar Senha</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-auto">
                <div class="card">
                    <div class="card-body">
                         {% block dashboard_content %}
                        <p><strong>Usuário</strong>: {{ user }}</p>
                        <p><strong>E-mail</strong>: {{ user.email }}</p>
                        {% endblock %}
                </div>
            </div>
        </div>
        </div>
    </ul>
</div>
{% endblock %}