{% extends "base.html" %}
{% load staticfiles %}
{% load courses_tags %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <ul class="breadcrumb">
            {% block breadcrumb %}
                <li>
                    <a href="{% url 'user:dashboard' %}">Meu Painel</a>
                </li>
            {% endblock %}
        </ul>
    </div>
    <div class="row mb-5">
        <div class="col-auto">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-text"> Bem vindo, {{ user }} </h5>
                    {% block menu_options %}
                    {% load_meus_cursos user as inscricao %}
                    <h6 class="card-title">Cursos</h6>
                    <ul>
                        {% for curso in inscricao %}
                        <i class="fa fa-book"></i>
                        <a href="{% url 'cursos:anuncios' curso.curso.slug %}">{{ curso.curso }}</a>
                        {% empty %}
                        <li>Nenhum curso no momento</li>
                        {% endfor %}
                    </ul>
                    <p></p>
                    <h6 class="card-title">Conta</h6>
                    <ul>
                       <i class="fa fa-cog"></i>
                        <a href="{% url 'user:edit' %}">Configurações de Conta</a>
                       <br>
                        <i class="fa fa-lock"></i>
                        <a href="{% url 'user:edit_password' %}">  Editar Senha</a>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    {% block dashboard_content %}
                    <h5 class="card-title">Meus Cursos</h5>
                    {% for curso in inscricao %}
                    <h3>{{ curso.curso }} ({{ curso.curso.start_date|date:'d/m/Y'| default:'Sem data' }})</h3>
                    {{ curso.curso.description|linebreaks }}
                    <div class="row float-right mt-2">
                        <a href="{% url 'cursos:anuncios' curso.curso.slug %}"><button class="btn btn-success  mr-2"> Acessar </button></a>
                        <a href="{% url 'cursos:undo_inscricao' curso.curso.slug %}"><button class="btn btn-danger  mr-4" > Cancelar Inscrição</button> </a>
                    </div>
                    {% empty %}
                        <li>Nenhum curso no momento</li>
                    {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}