{% extends "user/dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
        <li>  / </li>
        <li><a href="{% url 'user:edit_password' %}">Editar Senha</a></li>
{% endblock %}

{% block dashboard_content %}
<div class="container">
    <div class="wrapper">
        <form class="form-signin" method="post">
            {% csrf_token %}
            {% if success %}
            <p>Sua senha foi alterada com sucesso</p>
            {% endif %}
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form  %}
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                <button type="submit" class="btn btn-lg btn-primary btn-block">Alterar Senha</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}