{% extends "base.html" %}
{% block content %}
{% load staticfiles%}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Scripts and css ---------->

<div class="container">
    <div class="wrapper">
            {% if success %}
                <p class="form-signin" >Sua senha foi alterada com sucesso!</p>
            {% else %}
        <form class="form-signin" method="post">
            {% csrf_token %}
            <fieldset>
            <h3 class="form-signin-heading">
                <b style="color:#000000 !important">Plataforma de Ensino à distância</b>
            </h3>
            <h6 >
                <b >Informe sua nova senha para concluir o processo:</b>

            </h6>
                {% for field in form %}
                {% if field.errors %}
                    <div div class="alert alert-danger">
                        {% for error in field.errors %}
                            <strong>{{ error|escape }}</strong></br>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endfor %}

                    <input type="password" class="form-control mt-4" name="new_password1" placeholder="Insira a nova senha" required="" id="id_new_password1">

                    <input type="password" class="form-control mt-4" name="new_password2" placeholder="Insira novamente a nova senha" required="" id="id_new_password2">
            <button class="btn btn-lg btn-primary btn-block " name="Submit" value="Login" type="submit">Confimar</button>
            </fieldset>

        </form>
         {% endif %}
    </div>
</div>
{% endblock %}
