{% extends "base.html" %}
{% block content %}
{% load staticfiles%}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Scripts and css ---------->

<div class="container">
    <div class="wrapper">
            {% if success %}
                <p class="form-signin" >Sua senha foi alterada com sucesso!</p>
            {% else %}
        <form class="form-signin" method="post">
            {% csrf_token %}
            <fieldset>
            <h3 class="form-signin-heading">
                <b style="color:#000000 !important">Plataforma de Ensino à distância</b>
            </h3>
            <h6 >
                <b >Informe sua nova senha:</b>

            </h6>
                <br/>
                {{ form.non_field_errors }}
                {% for field in form %}
                    <strong>{{ field.label_tag }}</strong></br>
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                <br/>
            <button class="btn btn-lg btn-primary btn-block " name="Submit" value="Login" type="submit">Confimar</button>
            </fieldset>

        </form>
         {% endif %}
    </div>
</div>
{% endblock %}