{% extends "base.html" %}
{% block content %}
{% load staticfiles%}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Scripts and css ---------->

<div class="container">
    <div class="wrapper">
            {% if success %}
                <p class="form-signin" >Um email foi enviado com as instruções para a criação da nova senha!</p>
            {% else %}
        <form class="form-signin" method="post">
            {% csrf_token %}
            <fieldset>
            <h3 class="form-signin-heading">
                <b style="color:#000000 !important">Plataforma de Ensino à distância</b>
            </h3>
            <h6 >
                <b >Insira seu email no campo abaixo para
                    que possamos prosseguir com a recuperação da senha</b>

            </h6>
                <br/>
                {% for field in form %}
                {% if field.errors %}
                    <div div class="alert alert-danger">
                        {% for error in field.errors %}
                            <strong>{{ error|escape }}</strong></br>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endfor %}

                <input type="email" class="form-control " name="email" placeholder="Insira o email" required="" autofocus="" id="id_email">
                <br/>
            <button class="btn btn-lg btn-primary btn-block " name="Submit" value="Login" type="submit">Confimar</button>
            </fieldset>

        </form>
         {% endif %}
    </div>
</div>
{% endblock %}