{% extends "user/dashboard.html" %}

{% block breadcrumb %}
    {{block.super}}
        <li>/</li>
        <li><a href="{% url 'cursos:anuncios' curso.slug %}"> {{curso}} </a></li>
{% endblock %}

{% block menu_options %}

<ul>
    <h5>{{curso}}</h5>

    <i class="fa fa-video-camera"></i>
    <a href="{% url 'cursos:licoes' curso.slug %}">Aulas e Materiais</a>
    <br>
    <i class="fa fa-info-circle"></i>
    <a href="#">Informações</a>
    <br>
    <i class="fa fa-envelope"></i>
    <a href="{% url 'cursos:anuncios' curso.slug %}">Anuncios</a>
    <br>
    <i class="fa fa-comments"></i>
    <a href="#">Forum de Duvidas</a>
</ul>
{{ block.super }}
{% endblock %}

{% block dashboard_content %}
{% endblock %}