{% extends "base.html" %}
{% block content %}
    <header class="cursos text-white text-center" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5 text-center">{{ cursos.name }}</h1>
          </div>
        </div>
      </div>
    </header>
<div class="container" style="margin-top: 2%">
    <div class="row">
	    <div class="col">
	        <div class="l-box">
		        <div class="l-box">
	            	{{ cursos.description|linebreaks }}
	        	</div>
        	</div>
      	</div>	
    	<div class="col-auto">
      	    <a href="{{ course.get_absolute_url }}">
        	{% if cursos.image %}
        	<p><img src="{{ cursos.image.url }}" alt="{{ cursos.name }}" /></p>
        	{% else %}	
        	<p><img src="http://placehold.it/420x250" alt="{{ cursos.name }}" /></p>
        	{% endif %}
        	</a>

    	</div>
        <div class="col-auto">
            <div class="l-box">
                <h4>Dúvidas?</h4>
                <p>
                    <a href="#contato" title="" class="btn btn-primary">Fale Conosco</a></br>
                    <a href="{% url 'cursos:inscricao' cursos.slug %}" style="margin-top: 10px" class="btn btn-primary">Inscreva-se</a>
                </p>
            </div>
        </div>  
    </div>
</div>

<div class="container">
	<p>{{ cursos.about|linebreaks}}</p>
</div>

<div class="container" id="contato">
        <h3>Tire sua dúvida sobre o Curso</h3>
        {% if is_valid %}
        <p>Você enviou o formulário com sucesso</p>
        {% endif %}
        <form action="#contato" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <table>
                    {{ form.as_table }}
                </table>
            </div>
            <div class="col-sm-offset-2 col-sm-10"">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
</div>

</br></br>

{% endblock %}