{% extends "cursos/curso_dashboard.html" %}

{% block dashboard_content %}
    <div class="well">
        <h2>{{ anuncio.titulo }}</h2>
        {{ anuncio.conteudo|linebreaks }}
    </div>
    <div class="well">
        <div class="row">
            <div class="col">
                <h4 id="comments">Comentários</h4>
            </div>
            <div class="col"></div>
            <div class="col-auto">
                <a class="right" href="#add_comment">Comentar</a>
            </div>
        </div>
        <hr />
        {% for comentario in anuncio.comentarios.all %}
        <p>
            <strong>{{ comentario.user }}</strong> disse à {{ comentario.created_at|timesince }} atrás: <br />
            {{ comentario.comentario|linebreaksbr }}
        </p>
        <hr>
        {% empty %}
        <p>
            Nenhum comentário para este anúncio.
        </p>
        {% endfor %}
    </div>
{% endblock %}