{% extends "base.html" %}
{% block content %}
{% load staticfiles%}

    <header class="cursos text-white text-center" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5 text-center">Listagem de Cursos do PED</h1>
            <p class="text-center">Abaixo a lista de cursos disponíveis na plataforma</p>
          </div>
        </div>
      </div>
    </header>
    <br/>
<div class="container">	
{% for course in cursos %}
<br/>
    <div class="row">
	    <div class="col-sm">
	        <div class="l-box">
            	<a href="{{ course.get_absolute_url }}">
            	{% if course.image %}
            	<p><img src="{{ course.image.url }}" alt="{{ course.name }}" /></p>
            	{% else %}	
            	<p><img src="http://placehold.it/420x250" alt="{{ course.name }}" /></p>
            	{% endif %}
            	</a>
        	</div>
      	</div>	
    	<div class="col-sm">
	      	<p><h4 class="text-center text-uppercase"> {{ course.name }}</h4></p>
          <h4 class="content-subhead"><a href="{{ course.get_absolute_url }}" title="">{{ course.name }}</a></h4>
	        <div class="l-box">
            	{{ course.description|linebreaks }}
        	</div>
    	</div>
    </div>
    {% empty %}
	<div class="pure-g-r content-ribbon">
	    <div class="pure-u-1">
	        <div class="l-box">
	            <p>Nenhum curso está disponível na plataforma</p>
	        </div>
	    </div>
	</div>
{% endfor %}
</div>

<br/><br/>
{% endblock %}