{% extends "base.html" %}
{% block content %}

<section class="mb-0 text-secondary " id="about">

	  <div class="container">
	    <p><h2 class="text-center text-uppercase"> Contato</h2></p>
	    <div class="row">
	      <div class="col-lg-4 ml-auto">
	        <p class="lead">A Plataforma de Ensino à Distância (PED) é um projeto de alunos de Engenharia de Software.</p>
	      </div>
	      <div class="col-lg-4 mr-auto text-">
	        <p class="lead">Para mais informações de contato acesse https://github.com/Non-Devs/django-ds</p>
        </div>
	    </div>
	  </div>
</section>
{% endblock %}