{% extends "base.html" %}
{% block content %}

<section class="mb-0 text-secondary " id="about">


 	<header class="cursos text-white text-center" >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5 text-center">Contato:</h1>
          </div>
        </div>
      </div>
    </header>

    <br/><br/><br/>
	<div class="row">
	  <div class="col-lg-4 ml-auto">
	    <p class="lead">A Plataforma de Ensino à Distância (PED) é um projeto de alunos de Engenharia de Software.</p>
	  </div>
	  <div class="col-lg-4 mr-auto text-">
	   	<p class="lead">Para mais informações de contato acesse https://github.com/Non-Devs/django-ds</p>
	  </div>
	</div>

</section>
{% endblock %}